<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registros padrões</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/registros.css') }}" />
    </head>
    <body id="body">
            <div id="registros">
                <form action="/registros" method="post" enctype="multipart/form-data">
                    <h2>Cadastro do Padrão</h2> 
                    <br/>
                    <label for="">Insira o padrão</label>  
                    <input type="file" id="fileInput" name="arquivo" class="input" placeholder="Escolha o padrão" accept="image/*">
                    <br><br>
                    <label for="coordenanda_x">Insira a coordenada X</label>
                    <input type="number" name="coordenada_x" class="input" title="Coordenanda - X" placeholder="0">
                    <br><br>
                    <label for="coordenanda_y">Insira a coordenada Y</label>
                    <input type="number" name="coordenada_y" class="input" title="Coordenanda - Y" placeholder="0">
                    <br><br>
                    <button type="submit" id="salveButton">Salvar</button>
                    <br/><br/>
                    <a href="/lista-registros">Lista de Registros</a>
                </form>
            </div>
        <script>
            // custom-upload.js
            document.addEventListener('DOMContentLoaded', function() {
                const fileInput = document.getElementById('fileInput');
                const saveButton = document.getElementById('salveButton');
                const selectedFiles = document.getElementById('selectedFiles')

            
                saveButton.addEventListener('click', function() {
                    // Obter os valores dos campos
                    const coordenandaX = document.querySelector('input[name="coordenanda_x"]').value;
                    const coordenandaY = document.querySelector('input[name="coordenanda_y"]').value;

                    // Fazer algo com os valores (por exemplo, enviar para um servidor)
                    console.log('Coordenadas X:', coordenandaX);
                    console.log('Coordenadas Y:', coordenandaY);
                });
            });

        </script>
    </body>

</html>