<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tela de login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/login.css') }}">
    </head>
    <body id="body">
        <form action="/login" id="login" method="post">
            <div id="login">
                <h1>Login</h1>
                <input type="email" name="email" title="E-mail" placeholder="E-mail" class="input">
                <br><br>
                <input type="password" name="senha" title="Senha" placeholder="Senha" class="input">
                <br><br>
                <button type="submit" id="send"><a href="/registros">Entrar</a></button>
                <br><br>
                <a href="/cadastro" class="link">Criar usuário</a>
                <br><br>
                <a href="/recuperar" class="link">Esqueceu a senha</a>
            </div>
        </form>
    </body>
</html>