<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Esqueceu a Senha</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='src/css/recuperar.css') }}" />
    </head>
    <body id="body">
        <div id="recuperar">
            {% if message %}
                    <p style="color: white;">{{ message }}</p>
                {% endif %}
            <form action="/recuperar" method="post">
                <h2>Recuperar a Senha</h2>
                <input type="email" title="E-mail" name="email" class="input" placeholder="Digite seu email cadastrado">
                <br><br>
                <button type="submit" id="send">Recuperar</button>
                <br><br>
                <a href="/login">Voltar</a>
            </form>
        </div>
    </body>
</html>